:root{
    --main :#1e1f41;
    --blue : #1471a7;
    --gray : #777;
    --secondary-bg : #F4F7FD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 100%;           
    max-width: 1200px;     
    margin: 0 auto;        
    padding: 0 20px;       
  }
  
  @media (max-width: 1200px) {
    .container {
      max-width: 1000px;  
    }
  }
  
  @media (max-width: 992px) {
    .container {
      max-width: 800px;   
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 95%;     
      padding: 0 15px;    
    }
  }
  
  @media (max-width: 576px) {
    .container {
      max-width: 100%;    
      padding: 0 10px;    
    }
  }
  

.c-blue{
    color: var(--blue);
}

.c-gray{
    color: var(--gray);
}
main .container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    padding: 50px;
    gap: 100px;
}

main h1 {
    font-size: 2rem;
  color: var(--main);
}

main p{
    margin: 20px 0;
    color: var(--gray);
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.7;
}


main .main-btn{
    margin-top: 2.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main .main-image {
    flex-basis: 40%;
}

main .main-image img{
    width: 400px;
    max-width: 100%;
}

@media(max-width:791px){
    main .main-image {
        display: none;
    }
}


.sec-section{
    padding: 50px;
    background-color: var(--secondary-bg);
}


.sec-section h2{
    color: var(--main);
}

.sec-section .sec-p{
    color: var(--gray);
    margin: 30px 0;
    font-weight: bold;
}

.sec-section .c-blue{
    font-weight: bold;
    margin-bottom: 50px;   
}

.sec-section .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap : 100px
}

.sec-section .features .features-list {
    padding-left: 10px;
}

.sec-section .features img {
    width: 600px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .sec-section .features .features-image {
        display: none;
    }
}
.features-list {
    list-style: none;
    border-left: 5px solid #d7d9df;
    height: fit-content;
}

.features-list li:not(:last-child){
    margin-bottom: 20px;
    margin-top: -5px;
}

.features-list .feature-title{
    text-transform: capitalize;
    font-weight: bold;
    color: var(--main);
}
.features-list .feature-desc{
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--gray);
}


.features-list li.active{
    position: relative;
}
.features-list li.active::before{
    content: '';
    width: 5px;
    height: 40px;
    background-color: var(--blue);
    position: absolute;
    left: -15px;
    top: 5px;
}

.discover{
    padding: 10px;
}

.discover h2{
    text-align: center;
    margin: 50px auto;
    max-width: 450px;
}

.discover .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.cards .card {
    width: 250px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card:hover{
    box-shadow: 0px 0px 10px rgb(135, 185, 231);
}

.card .card-icon {
    font-size: 2rem;
}
.cards .card .card-title{
    color: var(--main);
    font-weight: bold;
}
.cards .card-desc{
    font-size: .8rem;
    margin:10px 0;
    font-weight: 600;
    color: var(--gray);
}

footer {
    padding: 10px 20px;
}
footer div{
    padding: 20px 10px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    background-color: #e7f6ff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #1471a7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}